<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440798581522-88p3d9s2psr3m4cahi1789kvf51nm40e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440798581522-88p3d9s2psr3m4cahi1789kvf51nm40e</string>
	<key>API_KEY</key>
	<string>AIzaSyARNTn48Bm9r1xdBBpD09FVOByXXUNVX5s</string>
	<key>GCM_SENDER_ID</key>
	<string>440798581522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aston.mathapp.astonMathApplication</string>
	<key>PROJECT_ID</key>
	<string>emp-mathsapp</string>
	<key>STORAGE_BUCKET</key>
	<string>emp-mathsapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440798581522:ios:fbc20709d94fb14fe799cb</string>
</dict>
</plist>